[2015-07-11 15:02] MrMagma opened #1 "Bias"
I thought I should bring this up. Pamela's description of the possible app mentioned that it wouldn't include usernames so as to prevent bias. That's good, but someone brought up the fact that some users include their names/logos in the program ([Their post is here](https://www.khanacademy.org/computer-programming/app-idea-contest-voting-app/5448182776594432?qa_expand_key=kaencrypted_f25cf5244fa34

[2015-07-11 15:03] codeHusky commented on #1
The judges are planned to be hand-picked, so technically there shouldn't be any bias.

[2015-07-12 22:39] bytorbrynden commented on #1
As @MikaalSky; judges will be hand picked.

We will be putting another system in place to remove usernames and/or anything else that could cause biased judging.

[2015-07-13 00:03] codeHusky commented on #1
Also, we really can only do so much. I think hiding the editor until the code-related criteria are applicable would be wise.

[2015-07-13 18:43] aikaikaik opened #4 "Is "/tests/app.html" truly a test?"
It seems that, although this file is located inside the folder "tests", it's the main page of the app. If it is, I thought to add some "branding".

[2015-07-13 18:44] bytorbrynden commented on #4
That file doesn't exist in this repository, perhaps you meant to ask @noble-mushtak?

[2015-07-13 18:46] Noble-Mushtak commented on #4
Yeah, `tests/app.html` is just a test application. We might use some of the code in our real application, but for now, it's just a test.

Also, here's [my repo](https://github.com/Noble-Mushtak/KA-Contest-Judging-System).

[2015-07-13 18:48] #4 closed, assigned to nobody

[2015-07-14 14:11] bytorbrynden opened #6 "Entries are not always pushed to Firebase"
The entries **are** loaded, however, they aren't always pushed to Firebase.

[2015-07-14 14:11] bytorbrynden commented on #6
CC: @noble-mushtak
Any thoughts?

[2015-07-14 14:13] Noble-Mushtak commented on #6
Well, my version of `ka_api.js` was only to load the entries, so I need to look more at where we're pushing them to Firebase to know what to do.

[2015-07-14 14:14] Noble-Mushtak commented on #6
Are we doing this at `tests/project_wrapper_test.html`? In that case, I need to look more at `Backend/contest_judging_sys.js` before I can figure out what went wrong.

[2015-07-14 14:16] Noble-Mushtak commented on #6
Also, in my app, the new `ka_api.js` is returning "All done!" before it's all done.

[2015-07-14 14:22] Noble-Mushtak commented on #6
OK, I fixed the issue with `ka_api.js`. I'll post it here when I'm finished merging our repos.

[2015-07-14 14:22] bytorbrynden commented on #6
Yeah, I fixed that in my version @Noble-Mushtak.

The tests for this are done in `tests/project_wrapper_test.html`... I would prefer you didn't run it though, as it'll clog up my Firebase DB.

[2015-07-14 14:51] bytorbrynden commented on #6
Fixed this in https://github.com/Gigabyte-Giant/KA-Contest-Judging-System/commit/2651fff498fab526cf106df2916100a24d323092.

[2015-07-14 15:15] Noble-Mushtak commented on #6
The same problem is still in `ka_api.js`. Check Slack for more info: https://team-delta-ka.slack.com/

[2015-07-14 15:16] Noble-Mushtak commented on #6
@Gigabyte-Giant Your `ka_api.js` isn't working on `ka_api_wrapper_test.html`. Log XMLHttpRequests and check _all_ `entries`. Some will be filled, some won't. The only reason your solution worked is because Firebase waited longer for all of the entries to be filled, but the function is still returning early.

[2015-07-14 15:20] bytorbrynden commented on #6
That's perfectly fine. Remember, the only point of `ka_api.js`, is to make it easy to get data to Firebase. Nothing else will use that.

[2015-07-14 15:24] Noble-Mushtak commented on #6
All you've done is made it much less likely that it won't work. There's still a chance that it won't wait long enough and it will fail at getting all of the `entries`.

Also, having `setTimeout()` at all in `.getContestEntries()` is completely unnecessary. Even if it works, less code for doing the same thing is better. Look at [my `ka_api.js`](https://github.com/Gigabyte-Giant/KA-Contest-Judging-S

[2015-07-14 15:25] Noble-Mushtak commented on #6
Wait...I linked to your `ka_api.js` above. [Here's mine](https://github.com/Noble-Mushtak/KA-Contest-Judging-System/blob/master/Backend/ka_api.js).

[2015-07-14 15:25] bytorbrynden commented on #6
I'll take a look at this in a little bit. I've got other work to take care of right now.

[2015-07-14 15:26] bytorbrynden commented on #6
Also, your version of `getContestEntries` is out of date.

[2015-07-14 15:28] Noble-Mushtak commented on #6
OK, I've added in the `scores` JSON property. Is there anything else I need to add in or is that up to date?

[2015-07-14 15:36] Noble-Mushtak commented on #6
OK, I'm up to date now because I've merged our repos!

[2015-07-14 15:37] #6 closed, assigned to nobody

[2015-07-15 16:34] aikaikaik opened #9 "`Contest_Judging_System.getStoredContests()` does not work"
I tried to run the `\Client\index.html` and it did not load, `KA_API.js` did work on the javascript console, when I tried to run this: `Contest_Judging_System.getStoredContests(function(a){console.log(a);});` there was no result.

[2015-07-15 16:35] bytorbrynden commented on #9
This is because I'm in the process of changing permissions on Firebase.

[2015-07-15 16:35] #9 closed, assigned to nobody

[2015-07-20 14:40] bytorbrynden opened #13 "Loading icon doesn't spin in Firefox"
Title says it all.

[2015-07-20 14:41] Noble-Mushtak commented on #13
I have both Firefox and Chromium, so I'll work on this right now!

[2015-07-20 14:41] bytorbrynden opened #14 "Entry previews do not load in Firefox"
Title says it all.

[2015-07-20 14:42] bytorbrynden commented on #13
Alright; great. Assigning this issue to you.

[2015-07-20 14:43] MrMagma commented on #13
I don't think I should submit it as a bug here since it's something wrong with FF/KA's embed code, but neither the code editor or the canvas will render on FF. I'm going to submit a bug report to KA about this. I thought this would be good to know for the project
(Update:Should check my email before posting)

[2015-07-20 14:44] Noble-Mushtak commented on #13
Fixed it! We just needed to add a Mozilla animation along with the keyframes and the Webkit animation.

[2015-07-20 14:45] bytorbrynden commented on #14
For whatever reason; `KAdefine` doesn't get defined in Firefox... That's ironic isn't it?

[2015-07-20 14:47] bytorbrynden commented on #13
@JavascriptFTW; There's another issue that I opened for the entry preview's not loading...

https://github.com/Team-Delta-KA/KA-Contest-Judging-System/issues/14

[2015-07-20 14:49] Noble-Mushtak commented on #14
What entry previews are you talking about? In my version of the repo, interacting with the entry and seeing the code doesn't work yet because you're still working on it, but the preview image in the entries list works fine on both Chrome and Firefox.

[2015-07-20 14:51] bytorbrynden commented on #14
Oh! I need to push my change(s). One second.

**Edit**: Pushed the changes. The program previews I'm referring to, are the ones that get shown after selecting an entry.

[2015-07-20 15:05] Noble-Mushtak commented on #14
NOTE: Only a bug on Firefox+Windows (and maybe Firefox+Macs), works on Firefox+Ubuntu.

[2015-07-20 15:05] MrMagma commented on #14
Very odd.

[2015-07-20 16:33] codeHusky commented on #13
Since the fix is merged, I'm going to close this.

[2015-07-20 16:33] #13 closed, assigned to Noble-Mushtak

[2015-07-20 16:34] Noble-Mushtak commented on #14
There's more discussion on this at KA's repo: https://github.com/Khan/live-editor/issues/362

[2015-07-21 13:36] bytorbrynden opened #22 "Syncing erases previous entries score data."
**Possible Fix**:
I'll need to reimplement the old(er) syncing method; loop through all the data on Khan Academy, as well as all the data on Firebase, to see what has been added/deleted since last sync.

[2015-07-21 13:56] Noble-Mushtak commented on #22
The way to fix this is very easy. All we need to do is store the entries in its own `entries/CONTESTID` child instead of putting the `CONTESTID/entries` inside the `contests` child like we are doing right now. We need to maintain contest data and entry data to contests separately.

[2015-07-21 14:00] bytorbrynden commented on #22
I thought of that, but I don't really want to do that. Doing that will require more callbacks when we want to retrieve data. All I'm going to do, is basic `diff` checking.

[2015-07-21 14:01] Noble-Mushtak commented on #22
Ah...I didn't think of that. That makes more sense.

[2015-07-21 14:03] bytorbrynden commented on #22
Here's how I'm going to do it: https://github.com/Team-Delta-KA/KA-Contest-Judging-System/commit/b97a3d4ff5ac25362ff77843b81a1b857741362b

I still need to implement the add/remove stuff for entries, but that won't be that hard. Hopefully there are enough comments so you understand each of the conditions.

[2015-07-21 14:04] bytorbrynden commented on #22
...just thought of something; should I actually delete stuff? Or should I just mark them as archived?

[2015-07-21 14:06] Noble-Mushtak commented on #22
No, we should delete it. If KA deletes a contest/someone else deletes their entry, then we probably should, too.

[2015-07-21 14:07] bytorbrynden commented on #22
That's what I was thinking, but what about those odd times when `sync` runs, but the KA API doesn't give us any data? All entries will lose their current score...

[2015-07-21 14:09] Noble-Mushtak commented on #22
Make sure the KA API returned data before adding or deleting anything. If it doesn't return data, then don't do anything to Firebase.

[2015-07-21 14:11] bytorbrynden commented on #22
Good idea. The only thing is; how do we make sure the KA API returned _everything_ that we need?

[2015-07-21 14:20] bytorbrynden opened #23 "Firebase Auth Popup is blocked by most browsers' popup blocker"
The way I have it implemented currently, the Firebase Auth Popup shows up any time you visit an entry. This gets blocked by most browsers' popup blocker.

[2015-07-21 14:32] Noble-Mushtak commented on #23
Just don't authenticate until the judge tries to submit an entry and then authenticate the judge with the popup once they click. If the authentication fails, instead of redirecting to `permissionDenied.html` (that would be kind of unnatural after they've already visited the page), just use `alert()` to tell them that they're not a judge.

[2015-07-21 15:20] Noble-Mushtak commented on #23
This issue has been solved by the above pull request and should be closed.

[2015-07-21 15:41] bytorbrynden commented on #22
Fixed in many commits, however the final commit relating to this bug is https://github.com/Team-Delta-KA/KA-Contest-Judging-System/commit/5400e952c6bdebf2848a8df54cab95c7a20a5ba1.

[2015-07-21 15:41] #22 closed, assigned to nobody

[2015-07-21 15:45] #23 closed, assigned to nobody

[2015-07-21 16:35] Noble-Mushtak opened #28 "Make our Firebase Database Secure"
I don't know how we're going to do this, but I know that @Gigabyte-Giant does. However, it's still an important issue to remember.

One way we could do this by making Gigabyte Giant's domain the only one allowed to modify the database instead of allowing `localhost` [(instructions on how to do this here)](https://www.firebase.com/docs/web/guide/user-auth.html#section-configuring), meaning that all

[2015-07-21 16:36] codeHusky commented on #28
Right now, only authorized google users can really do stuff.
It's pretty darn secure if you ask me.

[2015-07-21 16:37] bytorbrynden commented on #28
Yep. I've read the docs. I'll do this eventually.

[2015-07-21 16:37] MrMagma commented on #28
Hm... That would put a bit of a kink in testing efforts by other team members though. Maybe have a list of authorized Google users who are judges and are only allowed to write scores, and another list of "developers" who are allowed all they need (not free reign though)

[2015-07-21 16:37] Noble-Mushtak commented on #28
@MikaalSky  No, only authorized Google users can judge using the interface we have. Anyone could easily use their JavaScript console and erase the whole Firebase database (although I haven't tested this because if I did, then I would have erased the whole Firebase database).

@Gigabyte-Giant Cool! I just wanted to make this an issue so everyone knew about it.

[2015-07-21 16:38] Noble-Mushtak commented on #28
@JavascriptFTW That's also another great idea! I support using user authentication like that.

[2015-07-21 16:39] bytorbrynden commented on #28
I'll implement some sort of "role-based" authentication shortly.

[2015-07-22 18:32] bytorbrynden opened #31 "Program previews don't load in Safari on iOS"
_Tested using the iOS Simulator_

As the title says; program previews don't load on iOS.

[2015-07-22 18:34] bytorbrynden commented on #31
Actually, scratch that; there's a Khan Academy bug that prevents programs that require a larger canvas size, from showing.

[2015-07-22 18:34] #31 closed, assigned to nobody

[2015-07-22 18:53] bytorbrynden opened #32 "contest.html logs a bunch of Firebase errors"
...we need to try and figure out where these errors are originating, and try and get rid of them.

[2015-07-22 18:54] IdrissDimson commented on #32
those logs aren't always a bad thing but i'll look at it

[2015-07-22 18:54] bytorbrynden commented on #32
These ones are. They're actual Firebase.js errors.

[2015-07-22 18:56] IdrissDimson commented on #32
I look at em and see what they are

[2015-07-22 18:57] bytorbrynden commented on #32
I already know what they are, I just need to decide **how** I want to fix them.

[2015-07-22 19:01] #32 closed, assigned to nobody

[2015-07-22 22:30] Noble-Mushtak commented on #31
Khan Academy Computer Science in general doesn't really work for me on my iPad, so I don't think we can do it on our app.

[2015-07-22 22:40] Noble-Mushtak commented on #28
[You said to break things](https://trello.com/c/Pm8BDOQI/32-try-and-break-things), so I did:

[code]

I fixed it by clicking "Sync Data". However, to allow "Sync Data" to work, we need the user to have write access to `/contests` without restraint because `Contest_Judging_System.sync()` basically re-writes the child (except for the entries), so I don't know how we'll fix this other than not allowi

[2015-07-22 22:43] Noble-Mushtak commented on #28
Also, anyone can easily judge an entry by just putting `authenticated = true;` into their JavaScript console and then judging as normal.

[2015-07-22 23:02] Noble-Mushtak commented on #28
I tried erasing `/allowedJudges/[child]` on Firebase, but it looks like you have security for that pretty good.

[2015-07-23 20:45] pamelafox opened #35 "Pamela's feedback"
This is fantastic! Here's my running feedback as I use it:
- I wasn't in the allowed judges list. :-( [Awesome that the feature exists, though!]
- I'd like to default to seeing the code.
- Maybe add an "Unknown" for Level?
- Can there be different criteria for each contest? Like for Emoji, I need to be able to rate their use of functions. For Organ-ic code, we needed to judge also based on scienti

[2015-07-23 20:55] bytorbrynden commented on #35
Hello Pamela!
 • I'll give you a script to run that'll add you to the allowed judges list.
 • Consider it done! (https://github.com/Team-Delta-KA/KA-Contest-Judging-System/commit/26f9c2e19d57d757569881e3b5a42e96a13c3876)
 • ~~Sure thing! I'll add that shortly.~~ Added (I'll change the default level to unknown shortly)!
 • In our Trello board, I posted a card for an idea of allowing administrators

[2015-07-23 21:06] bytorbrynden opened #36 ""Create Contest" interface?"
...if we had a simple interface to allow administrators to create new contests, we could allow them to specify more specific criteria for **that** specific contest, to go along with all the general criteria (Code cleanliness, Creativity, etc.).

The only thing with something like this, is I'll have to rethink the way I have Firebase laid out (which is not a problem, it'll just take a bit more time

[2015-07-23 21:09] Noble-Mushtak commented on #36
I think they should create the contest program on KA and then submit that program as a contest through some interface. Only allowed judges should be able to do this, too, so we should implement this after we have role-based authentication down.

[2015-07-23 21:16] bytorbrynden commented on #35
Also, it's worth noting, the allowed judges list goes based on Google UIDs, so we have to add your Google UID to the allowed judges list before you can actually judge entries.
The reason we do this, is so we can prevent random people from logging in and judging, and also so you can't judge more than once!

[2015-07-23 21:19] bytorbrynden commented on #36
Either way, Pamela will have to create the contest program on KA, because we'll need the ID...

Before doing this, let's see if @pamelafox has any ideas about this.

[2015-07-24 15:48] Noble-Mushtak commented on #1
@Gigabyte-Giant recently warned users of bias from seeing entries on KA in `Client/scripts/entry.js`: https://github.com/Team-Delta-KA/KA-Contest-Judging-System/blob/master/Client/scripts/entry.js#L222

[2015-07-26 20:00] pamelafox commented on #35
Exciting to see so much progress! :)

[2015-07-26 20:05] pamelafox commented on #36
Mmm. I think in an ideal world, anyone would be able to create a contest, and they could set the rubric and settings for whose allowed to judge (anybody, or a list of email addresses, or anybody-that-they-give-a-judging-link to, etc).
Creating the program on Khan Academy first makes sense to me.

[2015-07-26 20:43] MrMagma commented on #36
Making it so that judges have to/can manually enter new contests would be an interesting thing to do. It would also eliminate the problem that the system is allowing judging on contests that are already over. Letting humans handle adding the contests would be nice since we could get extra information such as a cutoff date on judging, a date that entries could not be judged before, custom rubrics,

[2015-07-26 22:53] Noble-Mushtak opened #39 "Programs Made for Custom Sizes"
I was randomly testing out our app and found [this entry](http://localhost:8000/Client/entry.html?contest=4802521609666560&entry=5488271774842880). (The domain of that link is `http://localhost:8000`, so make sure you're running the app on port `8000` before trying to visit it.)

As you can see, it has the following error from line `135`:

[code]

I think many KA programmers do this now that we ha

[2015-07-26 23:01] MrMagma commented on #39
We could have some kind of slider or input for the canvas width and height that the judges could use to refresh the iframe with the new URL params.

[2015-07-26 23:02] codeHusky commented on #39
Just adding url params to the html document would work just as well. ;)

[2015-07-26 23:03] Noble-Mushtak commented on #39
Hm...OK. I'm fixing something else right now, so I'll implement that as soon as possible, although it would be much obliged if someone else could do it. Honestly, I can't believe I didn't think myself. Thanks, guys!

[2015-07-27 15:10] bytorbrynden commented on #36
@pamelafox I agree. That's something I'd like to shoot for in the future, but I don't think that's an option in v1.0 right now.

[2015-07-27 15:13] bytorbrynden commented on #39
With some clever engineering, we _might_ be able to detect this, and take a couple steps to prevent the student-seeded error messages from popping up during judging.

Will try and look at this when I'm back.

[2015-07-27 15:48] Noble-Mushtak commented on #39
Ah...After trying to implement the URL params solution, I found it didn't work because the width of the `<iframe>` is default set to `940` in `entry.js` and therefore, the `<iframe>` isn't big enough to include both the code and the program of width `700`. Works fine when I toggle the code, though, so I'll just make the `<iframe>` adjust to height and put a warning about the width being possibly t

[2015-07-27 16:21] bytorbrynden commented on #36
I'm going to began implementing something like this. The more I think about it, the better the idea sounds.

Any ideas for features in/on this interface, can be placed as comments on [this Trello card](https://trello.com/c/ikoVoB5D/36-admin-interface).

[2015-08-05 15:00] Noble-Mushtak commented on #39
Can you please merge #44 so I can close this issue? I solved this problem 9 days ago, but the fix still hasn't been merged into the `master` branch of this repo.

[2015-08-05 17:09] Noble-Mushtak commented on #39
That pull request has been merged, so I can finally close this issue. Yay!

[2015-08-05 17:09] #39 closed, assigned to nobody

[2015-08-05 18:38] Noble-Mushtak commented on #14
@Gigabyte-Giant I think we should close this issue since it's not an issue that we can solve and it's taking up visual space among the GitHub Issues this repo has.

[2015-08-05 18:40] Noble-Mushtak commented on #1
@Gigabyte-Giant I think we should close this issue since it's basically been solved by [entry.js](https://github.com/Team-Delta-KA/KA-Contest-Judging-System/blob/master/Client/scripts/entry.js#L237) and it's taking up visual space among the GitHub Issues this repo has. If there's still more to be done on this, it should probably go in Trello under To-Do so we can do it later.

[2015-08-05 18:41] bytorbrynden commented on #14
Will do. This is in Khan Academy's hands now.

[2015-08-05 18:41] #14 closed, assigned to nobody

[2015-08-05 18:41] #1 closed, assigned to nobody

[2015-08-06 20:38] bytorbrynden commented on #36
@Noble-Mushtak has been working on this, and has been doing a great job at it, so I'm going to assign this task to him.

Screenshot of what he has so far:
![monosnap 2015-08-06 15-37-00](https://cloud.githubusercontent.com/assets/4977819/9122833/29dcb656-3c51-11e5-9145-482ea18016ba.png)

[2015-08-06 20:38] Noble-Mushtak commented on #36
No problem!

[2015-08-08 00:44] Noble-Mushtak commented on #28
UPDATE:
We've almost finished Firebase authentication. All we need to do now is any authentication for the "New Contest" interface and authenticate the KACJS-Angus bot.

[2015-08-08 01:04] Noble-Mushtak commented on #35
Update on fixing these issues:

You're still not in the allowed judges list. You might have been before when @Gigabyte-Giant gave you that script, but we've changed how judge authentication works since then. However, if you go [http://gigabytegiant.com/kacjs/Client/](here), I think it should log you into our database and we can easily identify you by your Google display name "Pamela Fox".

Done!

[2015-08-11 19:10] bytorbrynden opened #51 "contest.html page continues to load entries, even after we've hit the limit that was set by user"

[2015-08-12 01:22] Noble-Mushtak commented on #51
...I don't understand what this means. `contest.html` works fine for me on both your version and my pull request #53 except for entries that have been deleted, but not picked up by the bot. Please add a description.

[2015-08-12 14:28] bytorbrynden opened #54 "Test ticket from Code Climate"

[2015-08-12 14:28] #54 closed, assigned to nobody

[2015-08-12 20:19] k4b7 opened #56 "clicking on "view 30 random entries" for the Tomorrowland contest doesn't let me log in"
It shows the "login with Google" form, but after entering my credentials and accepting permission it brings me back to the login form instead of taking me to the 30 random entries.

[2015-08-12 20:20] bytorbrynden commented on #56
Thanks for reporting Kevin! I'll take a look right now.

[2015-08-12 20:21] Noble-Mushtak commented on #56
Try clicking another contest for now. We're testing something with the Tomorrowland contest, so it won't be working properly for right now.

[2015-08-12 20:22] bytorbrynden commented on #56
Also, sometimes you have to click the "Login with Google" button twice, I'll try and fix that soon.

Also, as mentioned by @Noble-Mushtak, steer clear of the Tomorrowland contest for now, that's what we're using to test something for @pamelafox.

[2015-08-12 20:24] bytorbrynden opened #57 ""Login with Google" button has to be clicked twice for authentication to be recognized by app"
I thought we already fixed this, but, evidently, we didn't.

[2015-08-12 20:26] k4b7 commented on #56
Clicking the login button at the top worked, but trying to login by clicking on any (I just tried the first two) of the contests put me into the afore mentioned login cycle.

[2015-08-12 20:27] bytorbrynden commented on #56
Ahah! That's due to the way we changed our authentication yesterday.

We'll look into fixing this. We do apologize about the inconveniences!

[2015-08-12 20:28] codeHusky commented on #56
@kevinb7 For the best response time with the issues you're having, please join our Gitter chatroom. (Link to join in the README.md)

[2015-08-12 20:28] k4b7 commented on #56
Great work!  @pamelafox showed off all of your hard work to everyone at Khan Academy.  It was well received.

[2015-08-12 20:29] bytorbrynden commented on #56
We do appreciate all the support we've been receiving. When we first started this project, we had no clue it would get such good feedback!

Thanks again for all the support! We really appreciate it. :)

[2015-08-12 20:34] Noble-Mushtak commented on #57
This does not happen for me because we fixed it (in fact, I think you fixed it).

[2015-08-12 20:35] bytorbrynden commented on #57
For me, it requires two clicks for any of the button toggling (hiding of login button, showing of logout button, etc) to take place.

[2015-08-12 20:38] bytorbrynden commented on #57
Actually, scratch that. It just took `auth.firebase` a while to load and perform the redirect. Closing.

[2015-08-12 20:38] #57 closed, assigned to nobody

[2015-08-12 22:07] bytorbrynden commented on #56
This should be fixed now @kevinb7. To fix it, all I did was revert back to using OAuth popups, instead of redirects.

Please try http://gigabytegiant.com/kacjs/Client/contest.html?contest=4688911017312256&entries=30 again. Please note, your browser's popup blocker is going to block the OAuth popup, as it wasn't triggered by a user event.

I'll implement @Noble-Mushtak's more solid change, tomorrow

[2015-08-14 13:25] Noble-Mushtak commented on #56
OK, @Gigabyte-Giant has implemented my solid change, so I believe that this issue has been fixed without needing automatic popups. Can you please [test this again](http://gigabytegiant.com/kacjs/Client/contest.html?contest=4688911017312256&entries=30) and make sure nothing weird happens? Please make sure you visit the Web site with a disabled cache. If this issue still persists, please [go to Gitt

[2015-08-17 14:40] bytorbrynden commented on #51
This appears to be fixed, going to close for now.

[2015-08-17 14:40] #51 closed, assigned to nobody

[2015-08-17 15:40] bytorbrynden commented on #28
The authentication for the "New Contest" interface is done, and I just finished the authentication for the KACJS-Angus bot. Closing this.

[2015-08-17 15:40] #28 closed, assigned to nobody

[2015-08-17 18:30] bytorbrynden opened #59 "Entry Count doesn't match Khan Academy spinoff count"
...I don't know if this is a Khan Academy thing, or if the bot isn't updating the entry count.

Compare the following contest's spinoff count, to the entry count that we have.

Spinoff count on Khan Academy: http://take.ms/7lAh9
Entry count in KACJS: http://take.ms/BWG5Z

I think this is because of spinoffs that fall under the `spin-offs that didn't change any code, are by child accounts, or are b

[2015-08-17 21:27] bytorbrynden commented on #36
This has been implemented. Going to close this.

[2015-08-17 21:27] #36 closed, assigned to Noble-Mushtak

[2015-08-17 21:28] bytorbrynden commented on #56
I'm pretty much certain that this specific issue has been fixed, so I'm going to close this. If you have any more problems with this @kevinb7, please do reopen this, and take to Gitter.

[2015-08-17 21:28] #56 closed, assigned to nobody

[2015-08-17 21:35] Noble-Mushtak commented on #35
We've finished everything on this list. @pamelafox, if you have more feedback or ideas, please make another list for us so we can complete it. Thanks!

[2015-08-17 21:35] #35 closed, assigned to nobody

[2015-08-18 01:04] k4b7 opened #61 "Suggestion: only provide a link to the KA page after judging"

[2015-08-18 01:09] codeHusky commented on #61
Which page is this affected by?

[2015-08-18 01:12] k4b7 commented on #61
When you're judging one of the entries there's a button you can click on to view the entry on KA.  Right now it pops up a dialog with a warning before allowing you to view the entry on KA.  I thought it might be better to only provide the link after judging and just not have the dialog.

[2015-08-18 01:13] Noble-Mushtak commented on #61
I think @Gigabyte-Giant wanted people to have the option to view the entry on KA while judging in case they wanted to see more info about the entry. However, he'll give you a better answer when he comes back tomorrow morning.

[2015-08-18 01:15] codeHusky commented on #59
I think you're right because of the anti-spam.
?sort=3/4 might be a good option to enable showing the hidden ones.

[2015-08-18 01:16] Noble-Mushtak commented on #61
Oh, wait, I remember why @Gigabyte-Giant added that button now! It was because viewing entries on Firefox+Windows doesn't work: https://github.com/Team-Delta-KA/KA-Contest-Judging-System/issues/14

[2015-08-18 01:17] Noble-Mushtak commented on #61
Therefore, we need this button in order for people to judge entries from Firefox+Windows computers.

[2015-08-18 01:17] codeHusky commented on #61
Oh yeah. I'll close this issue for now until that gets fixed.

[2015-08-18 12:47] bytorbrynden commented on #61
No need to close this, if @kevinb7 wants this, I'll figure out a way to do something like this.

[2015-08-18 19:06] pamelafox opened #62 "UI Suggestions"
- [x] Add the restart button to programs
- [x] Add a "Judge next" button so that I can quickly judge the next un-judged entry
- [x] When I click "Submit vote", disable the button and change the text of it to "Submitting vote..." so that I know my click went through. (Common AJAX design pattern)
- [ ] Experiment with floating the voting rubric on the page, so that I don't scroll up and down the pag

[2015-08-18 19:12] Gigabyte-Giant commented on #62
I'll get right on these! We appreciate the feedback and suggestions! :)

[2015-08-18 22:07] bytorbrynden commented on #59
No, I don't want to show hidden ones, I just want to make sure my assumptions are correct.

[2015-08-18 23:25] Noble-Mushtak commented on #62
I'm also going to help implement some of these changes.

[2015-08-25 02:11] JavascriptFTW commented on #62
I'm going to try working on some of these in the next few days along with some long overdue code cleanup.

[2015-08-27 03:26] codeHusky opened #63 "Sort by date not program id"

[2015-08-27 03:39] bytorbrynden commented on #63
This is already on my to-do list. Please refer to Trello for minor things like this.

https://trello.com/c/53L5ILJH/25-order-contests-entries-by-date-created

[2015-08-27 03:39] #63 closed, assigned to nobody

[2015-08-27 04:05] bytorbrynden commented on #59
After a bit more investigation, I've verified that my assumptions were/are correct. Am closing this for now.

[2015-08-27 04:05] #59 closed, assigned to nobody

[2015-09-02 17:38] bytorbrynden opened #66 "Refactor Backend/contest_judging_sys.js from an F on Code Climate"
https://codeclimate.com/github/Team-Delta-KA/KA-Contest-Judging-System/Backend/contest_judging_sys.js

[2015-09-02 17:38] #66 closed, assigned to nobody

[2015-09-03 18:54] bytorbrynden commented on #61
@kevinb7 In https://github.com/Team-Delta-KA/KA-Contest-Judging-System/commit/0fdce35c13f3ffa29c995fc50fcd14b6549697d2, I commented out the button, so it no longer appears in the UI...

I'm going to wait a while before completely getting rid of the button's code, just in case #14 surfaces again for some reason.

I'll deploy a new copy of KACJS to the production server later on. Feel free to close

[2015-09-03 19:16] #61 closed, assigned to devbubba

[2015-09-03 20:34] bytorbrynden commented on #62
This change has been implemented, and is live on [the site](http://gigabytegiant.com/kacjs). Please let me know if you have any issues.

[2015-09-24 15:28] bytorbrynden opened #69 "Leaderboard fails to load data"
I'm not sure what is causing this, as it only occurs after my refactoring, which is odd because the only thing that I changed relating to the leaderboard, in my refactoring, was a few comments, and some whitespace...

We **cannot** publish the latest copy of KACJS until this gets fixed.

/cc @JavascriptFTW; Perhaps you could shed some light on this one?

[2015-09-24 15:34] MrMagma commented on #69
I'll look into this when I get time this afternoon. Can't really find anything that could be messing up in my brief inspection so far.

[2015-09-25 00:09] Noble-Mushtak commented on #69
Someone put in a `setTimeout()` instead of a `setInterval()` in `Backend/contest_judging_sys.js` for some reason. I'm definitely sure I fixed this problem before, so don't know how it happened again, but maybe something weird happened while refactoring? Anyway, pull request coming right up!

[2015-09-25 00:10] IdrissDimson commented on #69
nice find noble!

[2015-09-25 00:14] Noble-Mushtak commented on #69
Wait...I've made the leaderboard load, but now all of the scores are 0 for some reason.

[2015-09-25 00:16] Noble-Mushtak commented on #69
Ah...I see the problem. Someone typed `i < [...]` instead of `roInd < [...]`. Another refactoring problem.

[2015-09-25 13:28] bytorbrynden commented on #69
That "someone", had to have been you @Noble-Mushtak. I'm the one who renamed variables such as `i`, to things like `roInd`...

[2015-09-25 14:18] #69 closed, assigned to nobody

[2015-09-25 23:44] Noble-Mushtak commented on #69
Oh...Sorry!

[2015-10-05 17:40] bytorbrynden opened #73 "Branding issues?"
We might need to re-brand this project, to make sure we don't violate the [Trademark and Brand Usage policy](https://khanacademy.zendesk.com/hc/en-us/articles/202263034-Trademark-and-Brand-Usage-Policy) that Khan Academy has in place.

I'm going to send an email to Khan Academy with a couple questions about their branding guidelines, and to tell them that we're more than willing to make any change

[2015-10-05 17:55] bytorbrynden commented on #73
Here are the questions that I'm hoping can be answered:
- **First Question**: Since the app was created for Khan Academy, and it relies (heavily) on the Khan Academy Computer Science API, does Khan Academy have the right to take-over the project at any time?
  - While the team behind the app was not contracted by Khan Academy to create the app, and we do not receive any form of payment for it, I s

[2015-10-07 00:16] pamelafox commented on #73
My colleague suggested just sticking "Unofficial" in front of the title, and that should protect you on both fronts.

(Note: We are not lawyers! That's our best guess. None of us have any take-over plans :)

[2015-10-07 13:13] bytorbrynden commented on #73
Awesome @pamelafox, we can definitely do that!

And we really appreciate all the continued support that we've been receiving from you @pamelafox, as well as all the support we've received from @kevinbarabash.

[2015-10-07 13:32] MrMagma commented on #73
If we renamed to "Contest Judging System for Khan Academy" would that fix any legal issues? It doesn't imply affiliation with KA and "Contest Judging System for Khan Academy" is slightly less of a mouthful than "Unofficial Khan Academy Contest Judging System".

[2015-10-07 13:54] bytorbrynden commented on #73
The part that we are/were violating(?), is/was Bullet Point 5 under _Prohibited Use of Marks_:

@JavascriptFTW your title follows that "language", so it's probably best that we do that.

Another point we'll need to make somewhere (as a disclaimer, perhaps?), is the fact that we're not affiliated with Khan Academy in any way (I assume that's what we'd say?)...

Khan Academy is a friendly organizati

[2015-10-16 18:37] MrMagma opened #75 "Content Positioning is Messed up on Mobile Size Screens"
The positioning of content is not exactly good on mobile sized screens. The contest controls overlap the description causing it to be partially unreadable.
## Examples

360 by 640 screen (Nokia N9)
![](http://img.prntscr.com/img?url=http://i.imgur.com/OpZBROL.png)

375 by 627 screen (iPhone 6)
![](http://img.prntscr.com/img?url=http://i.imgur.com/Q76lEY6.png)

The smallest device screen size that

[2015-10-16 18:40] bytorbrynden commented on #75
I'm not expert on mobile-first design (or design in general), so I think our @sparkstudios/designers should take a look at this.

[2015-10-16 19:12] IdrissDimson opened #76 "2.0: Better documentation"
The folder names are slightly confusing to the causal programmer. Some less confusing names would help.

[2015-10-16 20:00] bytorbrynden commented on #76
What do you propose that the folders be renamed to @VirusKA?

[2015-10-16 20:06] IdrissDimson commented on #76
Actually now i've been roaming around for a hour, the names aren't the confusing part: the documentation is. Better documentation would've made it easier to know which one to use.

[2015-10-19 15:00] codeHusky opened #78 "Reactivity"
Make sure to fix the Reactive elements in 2.0 before we mark everything as complete for UI.

[2015-10-19 15:03] codeHusky commented on #78
Fixed I guess

[2015-10-19 15:03] #78 closed, assigned to nobody

[2015-10-19 15:52] bytorbrynden opened #79 "Move away from Firebase"
We've been using Firebase for the entire lifetime of this app, and it's been working fine, but I think it's time to make a switch.

I'm suggesting that we use [Stamplay](https://stamplay.com), but if anyone else has any ideas, do please let me know.

[2015-10-20 00:05] IdrissDimson commented on #79
I am a big proponent of don't fix what ain't broke.
however, i wanna experiment with this.

[2015-10-20 00:54] bytorbrynden commented on #79
I'm with you on the whole "If it ain't broke, don't fix it" thing, however, I think the Contest Judging System is starting to outgrow Firebase...

I'll continue experimenting with different technologies for us to use, and if I don't find anything, we might just use MongoDB (@MikaalSky would like that).

[2015-10-20 03:46] codeHusky commented on #79
@Gigabyte-Giant
I heard MongoDB?

[2015-10-21 00:18] Noble-Mushtak commented on #79
I don't mind if we switch databases, but it would mean that I would need to learn how that database system works just like I needed to learn how Firebase works for this project. I don't know much about different types of database systems like Stamplay or MongoDB, so I probably can't help you make that decision, but when you do make the decision, I will definitely learn the interface for that datab

[2015-10-21 13:02] codeHusky commented on #79
@noble-mushtak
If you feel the strong desire to not learn how to use another database platform, just sit on the sidelines. We've been wanting to leave Firebase pretty much since we started and this is going to happen.

[2015-10-21 21:21] Noble-Mushtak commented on #79
That's OK. I don't think learning how to use another database platform will be too hard since I picked up Firebase pretty quickly.

[2015-10-27 15:27] bytorbrynden commented on #75
I believe https://github.com/sparkstudios/Contest-Judging-System-for-KA/commit/7e7b8796ad983aa18257656a25ada9d9f3e38f5b fixes this.

The following screenshot shows how we're showing the "contest page" on a mobile device in the portrait orientation.
![cjska_mobile1](https://cloud.githubusercontent.com/assets/4977819/10762667/f8927638-7c94-11e5-8516-34b222f5bef1.png)

If you have any more problems w

[2015-10-27 15:27] #75 closed, assigned to nobody

[2015-11-04 17:03] bytorbrynden opened #81 "Updating dependencies without updating the files that rely on them causes problems"
For example, with [contest.js](https://github.com/sparkstudios/Contest-Judging-System-for-KA/blob/2.0/src/client/contest.js); it has [contest_judging_sys.js](https://github.com/sparkstudios/Contest-Judging-System-for-KA/blob/2.0/src/backend/contest_judging_sys.js) as a dependency.

If I was to make a change to [contest_judging_sys.js](https://github.com/sparkstudios/Contest-Judging-System-for-KA/b

[2015-11-05 16:58] bytorbrynden opened #89 "TypeError thrown when trying to visit the leaderboard of a contest that doesn't have any custom rubric items"
Steps to reproduce;
- Navigate to `localhost:3000`
- Log in as an administrator
- Scroll down to "Costume Contest"
- Click "Visit Leaderboard"

A TypeError is thrown due to the fact that **that contest doesn't have any custom rubric items**.

[2015-11-05 17:01] bytorbrynden commented on #89
Fixed by https://github.com/sparkstudios/Contest-Judging-System-for-KA/commit/23bf3f170461623d5482a48d09c53b79f3b31947.

[2015-11-05 17:01] #89 closed, assigned to devbubba

[2015-11-05 19:28] bytorbrynden opened #90 "TypeError is thrown when visiting leaderboard for a contest that uses the old scoring system"
The old scoring system combined all of the default rubric items with any custom rubric items for a contest.

Steps to reproduce:
- Navigate to `localhost:3000`
- Login as an administrator
- Visit the leaderboard for the "Pumpkin Carving Contest" ( `http://localhost:3000/leaderboard.html?contest=4894492747628544` )

[2015-11-05 19:40] bytorbrynden commented on #90
I fixed this in https://github.com/sparkstudios/Contest-Judging-System-for-KA/commit/3ab6df626b654af2523a9252e0551bbc77b5a9c2.

[2015-11-05 19:40] #90 closed, assigned to devbubba

[2015-11-05 19:49] bytorbrynden opened #91 "Contest page won't load when "count" parameter is set to a value larger than the number of entries"
No errors are thrown in the console, the page is just never receives any data.

[2015-11-05 19:51] bytorbrynden commented on #91
Ahah! Someone decided to use an old function (`CJS.loadXContestEntries`).

The old function doesn't have any checks to make it invoke the callback if there isn't anymore data... We should be using `CJS.fetchContestEntries`.

[2015-11-05 19:53] bytorbrynden commented on #91
Actually, scratch that. I never implemented the right function... Will fix.

[2015-11-05 19:59] bytorbrynden commented on #91
Resolved by https://github.com/sparkstudios/Contest-Judging-System-for-KA/commit/d3de518facdd5fdb8579dce8568596e75d78aaeb.

[2015-11-05 19:59] #91 closed, assigned to devbubba

[2015-11-05 23:24] bytorbrynden commented on #62
This has been implemented-ish.

[2015-11-06 18:24] bytorbrynden opened #95 "Ctrl/Cmd Clicking entries doesn't open them in a new tab"
Originally mentioned by @pamelafox.

Steps to reproduce:
- Navigate to `localhost:3000`
- Click the "View Entries" button for any contest
- Attempt to Ctrl/Cmd command click on an entry

Expected behavior: The entry should be opened in a new browser tab.
Experienced behavior: The entry opens in the current tab.

[2015-11-07 03:42] bytorbrynden commented on #62
This has been implemented in https://github.com/sparkstudios/Contest-Judging-System-for-KA/commit/2bc6f2fae7f010e0996b53083bff601fbe241878.

[2015-11-07 13:55] Noble-Mushtak commented on #73
This issue doesn't seem to be much of an issue anymore and it's been inactive for a month. I think we should close it so more attention can be focused on the other issues.

[2015-11-07 14:24] VirusKA commented on #73
^this

[2015-11-07 15:19] bytorbrynden commented on #73
I'm keeping this issue open, as I'm not done re-branding.

[2015-11-07 16:00] MrMagma commented on #95
This was caused by me. I didn't wrap the entries in an `a` tag and just attached a custom click listener. I did not think of this when I did that.
See [contest.js](https://github.com/sparkstudios/Contest-Judging-System-for-KA/blob/master/src/client/contest.js#L31-L33)

[2015-11-07 16:01] bytorbrynden commented on #95
Yeah, I knew it was you as soon as it was reported.

It's an easy fix. I'll push out the fix in my next push.

[2015-11-09 21:46] bytorbrynden opened #97 "Clicked "Judge next un-judged" button can cause problems..."
...especially if there aren't anymore un-judged entries for the currently logged in judge.

[2015-11-09 22:09] bytorbrynden commented on #79
Just going to drop this here, as we might be able to use it...

http://couchdb.apache.org/

[2015-11-10 19:37] Noble-Mushtak commented on #97
Do you want me to fix this? I'll be able to work on it on Wednesday because I don't have school.

[2015-11-10 19:38] Gigabyte-Giant commented on #97
No, that's fine. I've got a fix ready to go.

[2015-11-17 20:07] bytorbrynden commented on #95
Squashed by https://github.com/sparkstudios/Contest-Judging-System-for-KA/commit/d246cb87e3e4805d6dc2acf660f82c238eb3f175.

[2015-11-17 20:07] #95 closed, assigned to nobody

[2015-11-23 20:48] bytorbrynden commented on #79
I'm going to experiment with moving the CJSKA data to a MySQL database...

I'll also be working on [this](https://github.com/sparkstudios/CJSKA-MySQL-Middleman) so we can still get our data from Javascript, easily...

[2015-11-24 04:07] pamelafox opened #98 "Alternates between "Can't find un-judged" and finding a judged entry"
When I click "jump to next un-judged entry" from the contest page, I sometimes get "Can't find unjudged", and then I click it again, and it successfully finds an entry.

I've encountered this multiple times while judging the final entries in the Motivational Messages contest.

I suspect it's related to how I see more and more undefined entries at this stage.

Seems like either a Firebase query bug

[2015-11-24 04:08] pamelafox opened #99 "Loading next unjudged loads undefined entries"
When I click load next un-judged, I sometimes get null entries with URLs like this:
http://gigabytegiant.com/kacjs/entry.html?contest=5091511373529088&entry=undefined

I suspect this is related to the issue I just filed.

[2015-11-24 04:18] MrMagma opened #100 "Login Button Not Visible on Mobile"
The login button does not seem to be visible on mobile sized screens. This is just a minor styling issue which I'll work on fixing tomorrow.

[2015-11-24 04:51] k4b7 opened #101 "Show how many entries are left to judge (feature request)"
I was doing some judging today and it would've been nice to know how many entries there was to judge and as well as how much progress I was making while judging.

[2015-11-24 04:56] MrMagma commented on #101
This is on our list of things to do (see #62) hopefully we'll implement it soon.

[2015-11-24 04:59] k4b7 commented on #101
Okay.  Thanks.

[2015-11-24 13:51] bytorbrynden commented on #101
I'll go ahead and re-open this so we get to it faster.

[2015-11-24 14:33] bytorbrynden commented on #98
Thanks for the report. The ability to perform more complex queries will definitely solve this problem.

[2015-11-24 16:34] bytorbrynden commented on #100
Fixed in https://github.com/sparkstudios/Contest-Judging-System-for-KA/pull/102.

[2015-11-24 16:34] #100 closed, assigned to MrMagma